*{
    box-sizing: border-box;
}
body{
    background-color:wheat;
}
.tabs{
    border: 1px solid black;
    width: 500px;
    overflow: hidden;
}
.tabs button{
   border-radius: 5px;
   padding: 8px 15px ;
   border: none;
   cursor: pointer;
}

.tabs button:hover{
    background-color: aquamarine;
}
.tabs button.active{
    background:red;
}
.tabcontent{
    width: 500px;
    background-color: white;

   line-height: 20px;
   padding: 10px;
   margin-bottom: 20px;
   display: none;
}